* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background-image: linear-gradient(rgb(90, 0, 0), rgb(54, 0, 0));
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    min-height: 100vh;
}

/* the header */
.header {
    padding-top: 0px;
    text-align: left;
    background: rgb(0, 0, 0);
}

.header img {
    max-height: 140px;
}

/* things for the navbar */
.navbar {
    background-color: rgb(58, 0, 0);
    overflow: hidden;
    display: flex;
    width: 100%;
    overflow: auto;
    height: auto;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
    text-align: center;
    padding: 14px;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.navbar a.active {
    background-color: black;
    color: white;
}

.left-links {
    flex: 1 1 200px;
}

/* spaces into the left column */
.leftcolumn {
    float: left;
    width: 80%;
}

/* spaces into the right column */
.rightcolumn {
    float: left;
    width: 20%;
    padding-left: 20px;
}

/* single column layout */
.middlecolumnn {
    float: left;
    width: 100%;
}

/* formatting for images in the thread */
.threadimg {
    max-width: 300px;
    max-height: 300px;
    height: auto;
    margin: 1px;
    filter: saturate(8) grayscale(75%);
}

.threadimg-click {
    max-width: 800px;
    height: auto;
    margin: 2px;
}

/* card effect for posts */
.card {
    background-color: rgba(240, 240, 240, 0.842);
    padding: 5px 20px 5px;
    margin-top: 20px;
}

/* for boards page layout */
.boards {
    text-align: center;
    float: left;
    width: 33%;
    padding: 0% 1% 0%;
}

.boards img {
    padding-top: 20px;
    max-width: 200px;
    max-height: 200px;
    height: auto;
    width: auto;
}

/* for post preview on forum page */
.postcondensed {
    background-color: rgba(240, 240, 240, 0.842);
    padding: 5px;
    padding-left: 25px;
    border: 2px solid black;
    box-shadow: 0px 0px 5px black;
    width: 98%;
    margin-top: 20px;
}

.postcondensed:hover,
.topcard:hover,
.postbox:hover,
.reply:hover {
    border: 3px solid black;
    background-color: rgba(240, 240, 240, 0.95);
}

/* card on the top of the page (the thread post) */
.topcard {
    padding: 8px 15px 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgba(240, 240, 240, 0.842);
    border: 3px solid black;
    box-shadow: 0px 0px 20px red;
}

.topcard h2 {
    text-decoration: underline;
}

.reply {
    display: inline-block;
    min-width: 51%;
    max-width: 97%;
}

/* smaller centered postbox */
.postbox {
    background-color: rgba(240, 240, 240, 0.842);
    padding: 10px 50px 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    display: table;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

form {
    text-align: center;
}

/* footer for all pages */
.footer {
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
    margin-bottom: -40px;
}

.centertable {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    table-layout: fixed;
}

.centertable td,
th {
    text-align: right;
    width: 1px;
}

.centertable th {
    text-align: left;
}

.titletext {
    margin-top: 60px;
    margin-bottom: 20px;
}
.titletext h1{
    text-align: center;
}

.postspacing {
    display: flex;
    justify-content: space-between;
    overflow-wrap: break-word;
    margin-right: 10px;
    margin-bottom: -38px;
}

textarea {
    resize: none;
}

.postspacing>.card h3 {
    padding-left: 100px;
}